/*
* My userChrome.css file for Firefox - Steve. 
*/

/* Remove Back and forward buttons when there's nothing to go Back to  */
#back-button[disabled="true"], 
#forward-button[disabled="true"]
{
    display: none;
}

/* Clean up the context (right click) menu: */
#context-sendimage,
#context-sendlink,
#context-sendpage,
#context-setDesktopBackground,
#context-forward[disabled="true"],
#context-back[disabled="true"]
{
    display: none; 
}

/* Remove the send page to device menu */
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice, 
#context-sep-sendlinktodevice,
#context_sendTabToDevice,
#context_sendTabToDevice_separator 
{
    display: none !important;
}

/* Change Tab styles */
.tabbrowser-tab {
   /* font-family: sans-serif; */
   border-right: 1px dotted black !important;
   padding-inline: 1px !important;
   min-height: 20px;
}

/* Apply styles to the selected tab */
.tabbrowser-tab[selected="true"] .tab-text { 
	font-weight: bold;
}

.tabbrowser-tab .tab-close-button {
  display: none !important;
}

/* Change color of the HTTPS lock icon: */
#identity-icon {
    color: forestgreen;
}
