<!DOCTYPE html>
<html>
<head>
    <title>Vue JS Demos</title>
    <meta charset="utf-8">
    <meta name="description" content="Vue.js tutorial/testing">
    <meta name="author" content="Steve">
    <meta name="keywords" content="Vue, Vue.js, Tutorial, Javascript, HTML5">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <link rel="stylesheet" href="./vuedemo.css" />
</head>
<body>
  <div id="app">
    <h2>{{ myMessage }}</h2>
  </div>

  <hr>

  <div id="app-2">
    <h3>Demo 2</h3>
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds to see my dynamically bound title!
    </span>
  </div>

  <hr>

  <div id="app-3">
    <h3>Demo 3 - toggle button</h3>
    <button v-on:click="seen = !seen">Toggle</button>
    <transition name="bounce">
      <!-- <p v-if="seen">Now you see me</p> -->
      <p v-if="seen">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis enim libero, at lacinia diam fermentum id. Pellentesque habitant morbi tristique senectus et netus.</p>
    </transition>

    <p v-if="Math.random() > 0.5">Now you see me</p>
    <p v-else>Now you don't</p>
  </div>

  <hr>

  <div id="app-4">
    <h3>Demo 4 - TODO List</h3>
    <ol>
      <li v-for="todo in todos">{{ todo.text }}</li>
    </ol>
  </div> 

  <hr>

  <div id="app-5">
    <h3>Demo 5</h3>
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <hr>

  <div id="app-6">
    <h3>Demo 6</h3>
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <hr>
  
  <div id="app-7">
    <h3>Demo 7 - List via Vue Components</h3>
    <ol>
      <!--
        Now we provide each todo-item with the todo object
        it's representing, so that its content can be dynamic.
        We also need to provide each component with a "key",
        which will be explained later.
      -->
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id">
      </todo-item>
    </ol>
  </div>

  <hr>

  <div id="count-btn-example">
    <h3>Demo 8 - Counter with button</h3>
    <button v-on:click="counter += 1">Add 1</button>
    <p>The button above has been clicked {{ counter }} times.</p>
  </div>

  <script src="./vuedemo.js"></script>
</body>
</html>
